# Brasil

In [1]:
import sys
import warnings
import pandas as pd

sys.path.append('../../')

from utils.clean import wrangling
from utils.data_anual import annual_data
from utils.top_imports import top_importadores
from general_utils.export_api import export_API
from utils.vol_origenes import analisis_origenes

pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.options.display.max_colwidth = None

warnings.simplefilter("ignore")

                    ### ~~~ ###
                ###     PATH     ###
                    ### ~~~ ###


location_2022 = "./data/283525_Importaciones_2022.xlsx"
location_2022_SOP = "./data/310430_Importaciones_2022.xlsx"
location_2023 = "./data/283525_Importaciones_2023.xlsx"

                    ### ~~~ ###
                ###     DATA     ###
                    ### ~~~ ###


data2022 = pd.read_excel(location_2022, engine="openpyxl")
data2022_SOP = pd.read_excel(location_2022_SOP, engine="openpyxl")
data2023 = pd.read_excel(location_2023, engine="openpyxl")

In [2]:
# MERGE
dfs = [data2022, data2023, data2022_SOP]

print("Este df tiene (filas, col):\n___________________")

for df in dfs:
    print(
        f"> {str(df['YEAR/MONTH'].iloc[0])[:4]} {df['NCM'].iloc[0]}: {df.shape}\n~~~~~~~~~~~~~~~~~~~")

Este df tiene (filas, col):
___________________
> 2022 28352500: (155, 32)
~~~~~~~~~~~~~~~~~~~
> 2023 28352500: (154, 30)
~~~~~~~~~~~~~~~~~~~
> 2022 31043010: (132, 32)
~~~~~~~~~~~~~~~~~~~

In [3]:
col = [col for col in data2023.columns]
col

['ORIGIN COUNTRY',
 'YEAR/MONTH',
 'Marketed quantity',
 'Net weight',
 'FOB Estimated Unit Value',
 'Insurance Unit Value',
 'UNIT CIF VALUE',
 'Freight Unit Value',
 'Acquisition country',
 'Product description',
 'Incoterm',
 'Discharge unit',
 'Estimated Marketed Measure Unit',
 'ITEM ID',
 'NCM',
 'MODAL',
 'POSSIBLE CONSIGNEE',
 'POSSIBLE SHIPPER',
 'TOTAL FOB ESTIMATED VALUE',
 'CNPJ > Brazilian Company ID',
 'POSSIBLE CONSIGNEE ADDRESS',
 'TOTAL CIF VALUE',
 'Insurance Item Value',
 'Freight Item Value',
 'ID',
 'Total freight value',
 'Total insurance value',
 'Estimated operations qty',
 'QTY Statistical',
 'Measure Unit']

In [4]:
results_dfs = wrangling(dfs)

> MUNGING HISTORICAL DATA:

~ Limpiando NCMs...
~ Creando columna de precio...
~ Dropping outliers...
~ Dropping nulls...
> Done with: 2022
~~~~~~~~~~~~~~~~~~~
~ Limpiando NCMs...
~ Creando columna de precio...
~ Dropping outliers...
~ Dropping nulls...
> Done with: 2023
~~~~~~~~~~~~~~~~~~~
~ Limpiando NCMs...
~ Creando columna de precio...
~ Dropping outliers...
~ Dropping nulls...
> Done with: 2022
~~~~~~~~~~~~~~~~~~~

In [5]:
print("> Estadísticos del precio en el año per ton:\n___________________")

last_iterated_year = None

for df in results_dfs:
    if df is None or df.empty:
        print(
            f"<!!!> No data available for {last_iterated_year+1}\n~~~~~~~~~~~~~~~~~~~")
    else:
        year = df['Fecha'].iloc[0].year
        print(
            f"- En el {year}:\n{df['U$S Unitario'].describe()}\n~~~~~~~~~~~~~~~~~~~")
        last_iterated_year = year

> Estadísticos del precio en el año per ton:
___________________
- En el 2022:
count    93.000000
mean      1.826832
std       2.180642
min       0.455600
25%       0.720000
50%       0.820000
75%       1.040000
max       9.463333
Name: U$S Unitario, dtype: float64
~~~~~~~~~~~~~~~~~~~
- En el 2023:
count    118.000000
mean       1.670860
std        1.993111
min        0.455600
25%        0.722650
50%        0.840000
75%        1.000000
max        9.463333
Name: U$S Unitario, dtype: float64
~~~~~~~~~~~~~~~~~~~
- En el 2022:
count    87.000000
mean      2.234496
std       4.437393
min       0.740000
25%       1.005950
50%       1.100000
75%       1.270000
max      38.800000
Name: U$S Unitario, dtype: float64
~~~~~~~~~~~~~~~~~~~

In [6]:
annual_data = annual_data(results_dfs)
export_API(annual_data)
annual_data

- 2022 appended.
- 2023 appended.
- 2022 appended.
~~~~~~~~~~~~~~~~~~~
> Transition dictionary:
- NCM: ['283525', '283525', '310430']

- Año: [2022, 2023, 2022]

- Volumen Total: [50142.05, 85079.65, 20729.1]


__________________________ ~ EXPORT ~ __________________________

> Las hojas del excel actualmente son:

 [<Worksheet 'PERU' id:1182910367>, <Worksheet 'ECUADOR' id:810080588>, <Worksheet 'CHILE' id:1507308422>, <Worksheet 'ARGENTINA' id:1594648955>, <Worksheet 'COLOMBIA' id:664084509>, <Worksheet 'BRASIL' id:1939042677>]

- - - - - - - - - -

Spreadsheet exists: Modifying existing working sheet...

- - - - - - - - - -

> Spreadsheet modified.

_________________________________________________________________

    Año     NCM  Volumen Total
0  2022  283525       50142.05
1  2023  283525       85079.65
2  2022  310430       20729.10

In [7]:
top_importadores = top_importadores(results_dfs)
export_API(top_importadores)
top_importadores

- Done with: INDUKERN DO BRASIL QUIMICA LTDA. (2022)
- Done with: FERTIFER IMPORTADORA E EXPORTADORA DE PRODUTOS GERAIS LTDA (2022)
- Done with: BIOMIX - SANIDADE E NUTRICAO ANIMAL LTDA. (2022)
- Done with: RAYQUIMICA LTDA (2022)
- Done with: KATRIUM INDUSTRIAS QUIMICAS S.A. (2022)
- Done with: SWEETMIX DISTRIBUIDORA DE MATERIAS PRIMAS INDUSTRIAIS LTDA (2022)
- Done with: PRATI, DONADUZZI & CIA LTDA (2022)
- Done with: DE HEUS INDUSTRIA E COMERCIO DE NUTRICAO ANIMAL LTDA (2022)
- Done with: PHOSPHEA BRASIL COMERCIO DE FOSFATOS LTDA (2022)
- Done with: METACHEM INDUSTRIAL E COMERCIAL LTDA (2022)
- Done with: J. RETTENMAIER LATINOAMERICANA LTDA (2022)
- Done with: AD BLUE IMPORTACAO E COMERCIO DE INSUMOS LTDA (2022)
- Done with: PLANTIVO INDUSTRIA E COMERCIO DE FERTILIZANTES LTDA (2022)
- Done with: ICL AMERICA DO SUL S.A. (2022)
- Done with: ALLNOVA  INDUSTRIA COMERCIO E PARTICIPACOES LTDA. (2022)
- Done with: CARBOTEX QUIMICA INDUSTRIA, COMERCIO E PARTICIPACOES LT (2022)
- Done with: OCP FERTILIZANTES LTDA. (2022)
- Done with: POTENSAL NUTRICAO E SAUDE ANIMAL LTDA (2022)
- Done with: CAPITAL TRADE IMPORTACAO E EXPORTACAO LTDA (2022)
- Done with: FERTIFER IMPORTADORA E EXPORTADORA DE PRODUTOS GERAIS LTDA (2023)
- Done with: PHOSPHEA BRASIL COMERCIO DE FOSFATOS LTDA (2023)
- Done with: INDUKERN DO BRASIL QUIMICA LTDA. (2023)
- Done with: BIOMIX - SANIDADE E NUTRICAO ANIMAL LTDA. (2023)
- Done with: RAYQUIMICA LTDA (2023)
- Done with: KATRIUM INDUSTRIAS QUIMICAS S.A. (2023)
- Done with: SWEETMIX DISTRIBUIDORA DE MATERIAS PRIMAS INDUSTRIAIS LTDA (2023)
- Done with: PRATI, DONADUZZI & CIA LTDA (2023)
- Done with: DE HEUS INDUSTRIA E COMERCIO DE NUTRICAO ANIMAL LTDA (2023)
- Done with: LABORATORIOS SERVIER DO BRASIL LTDA (2023)
- Done with: METACHEM INDUSTRIAL E COMERCIAL S/A (2023)
- Done with: J. RETTENMAIER LATINOAMERICANA LTDA (2023)
- Done with: OCP FERTILIZANTES LTDA. (2023)
- Done with: AD BLUE IMPORTACAO E COMERCIO DE INSUMOS LTDA (2023)
- Done with: MINERTHAL PRODUTOS AGRO PECUARIOS LTDA (2023)
- Done with: PLANTIVO INDUSTRIA E COMERCIO DE FERTILIZANTES LTDA (2023)
- Done with: CARBOTEX QUIMICA INDUSTRIA, COMERCIO E PARTICIPACOES LT (2023)
- Done with: ALLNOVA  INDUSTRIA COMERCIO E PARTICIPACOES LTDA. (2023)
- Done with: COMPASS MINERALS AMERICA DO SUL INDUSTRIA E COMERCIO S.A (2023)
- Done with: POTENSAL NUTRICAO E SAUDE ANIMAL LTDA (2023)
- Done with: CAPITAL TRADE IMPORTACAO E EXPORTACAO LTDA (2023)
- Done with: SQM VITAS BRASIL AGROINDUSTRIA, IMPORTACAO E EXPORTACAO LTDA (2022)
- Done with: DVA BRASIL PRODUTOS AGRICOLAS LTDA (2022)
- Done with: COSMOCEL DO BRASIL NUTRICAO VEGETAL LTDA (2022)
- Done with: YARA BRASIL FERTILIZANTES S/A (2022)
- Done with: FBA FORCA BRASIL AGRICOLA LTDA (2022)
- Done with: HAIFA QUIMICA DO BRASIL LTDA (2022)
- Done with: SAS DO BRASIL SOLUCOES AGRO SUSTENTAVEIS E COMERCIO LTDA. (2022)
- Done with: FERTILIZANTES TOCANTINS  S.A (2022)
- Done with: FERTILIZANTES HERINGER S.A. (2022)
- Done with: MANUCHAR COMERCIO EXTERIOR LTDA (2022)
- Done with: OUROFERTIL NORDESTE LTDA (2022)
- Done with: NUTRIEN SOLUCOES AGRICOLAS LTDA (2022)
- Done with: ICL AMERICA DO SUL S.A. (2022)
- Done with: OUROFERTIL FERTILIZANTES LTDA (2022)
- Done with: BOLLO BRASIL PRODUCAO E COMERCIALIZACAO DE FRUTAS LTDA (2022)
- Done with: ADUBOS ARAGUAIA IND E COM LTDA (2022)
- Done with: COMPANHIA NITRO QUIMICA BRASILEIRA (2022)
- Done with: PAULIFERTIL INDUSTRIA E COMERCIO DE FERTILIZANTES LTDA (2022)
- Done with: TIMAC AGRO INDUSTRIA E COMERCIO DE FERTILIZANTES LTDA (2022)
- Done with: OURO GRAN FERTILIZANTES E TRANSPORTES EIRELI (2022)
- Done with: BRFERTIL S.A (2022)
- Done with: MANUCHAR AGRO COMERCIO E IMPORTACAO DE INSUMOS  AGRICOLAS LTDA (2022)
- Done with: CAPE AGUAS SUDESTE  INDUSTRIA E COMERCIO LTDA (2022)
- Done with: COMPASS MINERALS SUDESTE INDUSTRIA E COMERCIO LTDA (2022)
- Done with: ITAUEIRA AGROPECUARIA S A (2022)
~~~~~~~~~~~~~~~~~~~
> Current dataframe of the top 3 importers of each year:

__________________________ ~ EXPORT ~ __________________________

> Las hojas del excel actualmente son:

 [<Worksheet 'PERU' id:1182910367>, <Worksheet 'ECUADOR' id:810080588>, <Worksheet 'CHILE' id:1507308422>, <Worksheet 'ARGENTINA' id:1594648955>, <Worksheet 'COLOMBIA' id:664084509>, <Worksheet 'BRASIL' id:1939042677>]

- - - - - - - - - -

Spreadsheet exists: Modifying existing working sheet...

- - - - - - - - - -

> Spreadsheet modified.

_________________________________________________________________

,Año,Importador,NCM,Participacion,Precio Promedio,Proveedores,Volumen Total (TN)
8,2022,PHOSPHEA BRASIL COMERCIO DE FOSFATOS LTDA,283525,35%,800.0,"TIMAB IBERICA SPAIN, TUNIFEED, TIMAB INDUSTRIES",17545.00
4,2022,KATRIUM INDUSTRIAS QUIMICAS S.A.,283525,18%,780.0,QUIMPAC PERU,8954.50
16,2022,OCP FERTILIZANTES LTDA.,283525,18%,960.0,OCP MOROCCO,8943.07
12,2023,OCP FERTILIZANTES LTDA.,283525,30%,1000.0,OCP MOROCCO,25458.85
5,2023,KATRIUM INDUSTRIAS QUIMICAS S.A.,283525,28%,820.0,QUIMPAC PERU,23928.95
1,2023,PHOSPHEA BRASIL COMERCIO DE FOSFATOS LTDA,283525,23%,790.0,"TIMAB INDUSTRIES, TIMAB IBERICA SPAIN, TUNIFEED",19545.00
3,2022,YARA BRASIL FERTILIZANTES S/A,310430,33%,1030.0,"EVERGROW FOR SPECIALITY FERTILIZERS EGYPT, TESSENDERLO GROUP NV, YARA SWITZERLAND",6742.67
10,2022,OUROFERTIL NORDESTE LTDA,310430,19%,1010.0,"HEXAGON GROUP, CROWN CHAMPION INTERNATIONAL PTE SINGAPORE, ALLIED HARVEST ASIA COMPANY HONG KONG, TESSENDERLO GROUP NV",3849.40
0,2022,"SQM VITAS BRASIL AGROINDUSTRIA, IMPORTACAO E EXPORTACAO LTDA",310430,15%,1150.0,"EVERGROW FOR SPECIALTY FERTILIZERS EGYPT, SQM SALAR CHILE, EVERGROW FOR SPECIALITY FERTILIZERS EGYPT",3154.80

In [8]:
analisis_origenes = analisis_origenes(results_dfs)
export_API(analisis_origenes)
analisis_origenes

- Done with: GERMANY (2022)
- Done with: CHINA (2022)
- Done with: PERU (2022)
- Done with: UNITED STATES (2022)
- Done with: SPAIN (2022)
- Done with: TURKEY (2022)
- Done with: TUNISIA (2022)
- Done with: MOROCCO (2022)
- Country INDIA (2022) doesn't pass the threshold.
- Done with: CHINA (2023)
- Done with: GERMANY (2023)
- Done with: PERU (2023)
- Done with: UNITED STATES (2023)
- Done with: SPAIN (2023)
- Done with: MOROCCO (2023)
- Done with: TUNISIA (2023)
- Done with: TURKEY (2023)
- Country INDIA (2023) doesn't pass the threshold.
- Done with: EGYPT (2022)
- Done with: CHINA (2022)
- Done with: BELGIUM (2022)
- Done with: CHILE (2022)
- Done with: GERMANY (2022)
- Done with: SWEDEN (2022)
- Country SWEDEN (2022) doesn't pass the threshold.
~~~~~~~~~~~~~~~~~~~
> Current dataframe of the origins of each year:

__________________________ ~ EXPORT ~ __________________________

> Las hojas del excel actualmente son:

 [<Worksheet 'PERU' id:1182910367>, <Worksheet 'ECUADOR' id:810080588>, <Worksheet 'CHILE' id:1507308422>, <Worksheet 'ARGENTINA' id:1594648955>, <Worksheet 'COLOMBIA' id:664084509>, <Worksheet 'BRASIL' id:1939042677>]

- - - - - - - - - -

Spreadsheet exists: Modifying existing working sheet...

- - - - - - - - - -

> Spreadsheet modified.

_________________________________________________________________

,NCM,Año,Pais,Volumen Total (TN),Participacion en Vol. Total,No. Importaciones
0,283525,2022,CHINA,20759.15,41%,34
1,283525,2022,PERU,8954.50,18%,12
2,283525,2022,MOROCCO,8943.07,18%,2
3,283525,2022,TUNISIA,6747.00,13%,8
4,283525,2022,SPAIN,3796.00,8%,13
5,283525,2022,GERMANY,464.05,1%,12
6,283525,2022,TURKEY,240.00,0%,2
7,283525,2022,UNITED STATES,238.08,0%,9
0,283525,2023,MOROCCO,25458.85,30%,6
1,283525,2023,CHINA,24139.15,28%,38
2,283525,2023,PERU,23928.95,28%,27
3,283525,2023,TUNISIA,6747.00,8%,8
4,283525,2023,SPAIN,3796.00,4%,13
5,283525,2023,GERMANY,531.42,1%,14
6,283525,2023,TURKEY,240.00,0%,2
7,283525,2023,UNITED STATES,238.08,0%,9
0,310430,2022,EGYPT,10161.00,49%,48
1,310430,2022,BELGIUM,6182.22,30%,13
2,310430,2022,CHINA,3050.00,15%,8
3,310430,2022,GERMANY,580.00,3%,2
4,310430,2022,SWEDEN,441.00,2%,1
5,310430,2022,CHILE,250.80,1%,1